<main>
  <div class="relative mx-auto px-8 max-w-7xl py-12 md:px-12">
    <div class="grid grid-cols-1 gap-6 lg:gap-y-16 md:grid-cols-4">
      <h3 class="text-negroni-500 font-bold md:text-6xl text-4xl tracking-tight">
        Cerro Catedral
      </h3>
      {/** Product 1 **/}
      <figure>
        <img
          class="w-full rounded-xl shadow-lg"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg?compress=1&resize=1600x1200&vertical=top"
          alt="Paper bags with print"
          width="655"
          height="436"
        />
        <div class="mt-2 flex justify-between px-4">
          <div>
            <h3 class="text-xs text-negroni-500">
              <a href="#">
                Paper bags with print
              </a>
            </h3>
            <p class="mt-1 text-sm font-medium leading-6 text-white">Beige</p>
          </div>
          <p class="text-sm text-tomato-500">$3</p>
        </div>
      </figure>
      
      {/** Product 2 **/}
      <figure>
        <img
          class="w-full rounded-xl shadow-lg"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/8ea407efd5f947aa6a37488cfe305269.jpg?compress=1&resize=1600x1200&vertical=top"
          alt="Basic Tee bag"
          width="655"
          height="436"
        />
        <div class="mt-2 flex justify-between px-4">
          <div>
            <h3 class="text-xs text-negroni-500">
              <a href="#">
                Basic Tee bag
              </a>
            </h3>
            <p class="mt-1 text-sm font-medium leading-6 text-white">Olive green / Orange</p>
          </div>
          <p class="text-sm text-tomato-500">$35</p>
        </div>
      </figure>
      
      {/** Product 3 **/}
      <figure>
        <img
          class="w-full rounded-xl shadow-lg"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16397986/media/75e59a9fcf94b8a51764df66ce7a1d4f.jpg?compress=1&resize=1600x1200&vertical=top"
          alt="Coffee bag - Developer"
          width="655"
          height="436"
        />
        <div class="mt-2 flex justify-between px-4">
          <div>
            <h3 class="text-xs text-negroni-500">
              <a href="#">
                Coffee bag
              </a>
            </h3>
            <p class="mt-1 text-sm font-medium leading-6 text-white">Strong. Level: Developer</p>
          </div>
          <p class="text-sm text-tomato-500">$35</p>
        </div>
      </figure>
      
      {/** Product 4 **/}
      <figure>
        <img
          class="w-full rounded-xl shadow-lg"
          src="https://cdn.dribbble.com/userupload/2739254/file/original-ac8226a7213611e49363fc0176a48cb0.jpg?compress=1&resize=1504x1128"
          alt="Coffee bag - Designer"
          width="655"
          height="436"
        />
        <div class="mt-2 flex justify-between px-4">
          <div>
            <h3 class="text-xs text-negroni-500">
              <a href="#">
                Coffee bag
              </a>
            </h3>
            <p class="mt-1 text-sm font-medium leading-6 text-white">Strong. Level: Designer</p>
          </div>
          <p class="text-sm text-tomato-500">$35</p>
        </div>
      </figure>

      {/** Product 5 **/}
      <figure>
        <img
          class="w-full rounded-xl shadow-lg"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg?compress=1&resize=1600x1200&vertical=top"
          alt="Minimalist bag"
          width="655"
          height="436"
        />
        <div class="mt-2 flex justify-between px-4">
          <div>
            <h3 class="text-xs text-negroni-500">
              <a href="#">
                Minimalist bag
              </a>
            </h3>
            <p class="mt-1 text-sm font-medium leading-6 text-white">Black</p>
          </div>
          <p class="text-sm text-tomato-500">$25</p>
        </div>
      </figure>

      {/** Product 6 **/}
      <figure>
        <img
          class="w-full rounded-xl shadow-lg"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg?compress=1&resize=1600x1200&vertical=top"
          alt="Stylish bag"
          width="655"
          height="436"
        />
        <div class="mt-2 flex justify-between px-4">
          <div>
            <h3 class="text-xs text-negroni-500">
              <a href="#">
                Stylish bag
              </a>
            </h3>
            <p class="mt-1 text-sm font-medium leading-6 text-white">White / Grey</p>
          </div>
          <p class="text-sm text-tomato-500">$40</p>
        </div>
      </figure>

      {/** Product 7 **/}
      <figure>
        <img
          class="w-full rounded-xl shadow-lg"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg?compress=1&resize=1600x1200&vertical=top"
          alt="Casual bag"
          width="655"
          height="436"
        />
        <div class="mt-2 flex justify-between px-4">
          <div>
            <h3 class="text-xs text-negroni-500">
              <a href="#">
                Casual bag
              </a>
            </h3>
            <p class="mt-1 text-sm font-medium leading-6 text-white">Blue / Yellow</p>
          </div>
          <p class="text-sm text-tomato-500">$30</p>
        </div>
      </figure>

      {/** Product 8 **/}
      <figure>
        <img
          class="w-full rounded-xl shadow-lg"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg?compress=1&resize=1600x1200&vertical=top"
          alt="Luxury bag"
          width="655"
          height="436"
        />
        <div class="mt-2 flex justify-between px-4">
          <div>
            <h3 class="text-xs text-negroni-500">
              <a href="#">
                Luxury bag
              </a>
            </h3>
            <p class="mt-1 text-sm font-medium leading-6 text-white">Black / Gold</p>
          </div>
          <p class="text-sm text-tomato-500">$50</p>
        </div>
      </figure>
    </div>
  </div>
</main>